@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

:root {
    --background: #e6dbc5;
}

body, html{
    overflow-x: hidden;
    background: var(--background);
}

* {
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img{
    height: 40vh;
    width: auto;
}

#table {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.row h3{
    display: inline;
    color: #73A635;
}

.row h3::after{
    content: "\a";
    white-space: pre;
}

.row .rowdata {
    width: 100vw;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    border-top: 1px solid #8BC53F;
    border-bottom: 1px solid #8BC53F;
    height: 50px;
    vertical-align: baseline;
}

.row .rowdata *{
    display: inline-block;
    white-space: nowrap;
    float: none;
}

.priceelement{
    width: 360px;
    height: 100%;
    margin: auto;
    padding: 15px;
}

.priceelement label{
    width: 190px;
    border-bottom: 1px solid black;
}

.priceelement input{
    width: calc(95% - 190px);
}

#filterbutton {
    border-radius: 4px;
    border: 2px solid #4b6b20;
    width: 200px;
    height: 30px;
    /* margin-left: 10px; */
    font-weight: bold;
    background: #d9d9d9;
}

#filterbutton:active {
    background: #f0f0f0;    
}

.hidden {
    display:none !important;
}

#footer {
    position:static;
    bottom:0;
    /* height: 120px; */
    /* background: #E1F4CB; */
    width: 100vw;
    left: 0;
    padding-left: 10px;
    border-top: 1px solid #4b6b20;
}

#footer h3 {
    font-size: 15px;
}

#centerbutton {
    margin-top:10px;
    display:flex;
    justify-content: center;
}

#autocomplete_menu {
    max-height: 120px;
    overflow-y:scroll;
}

.autocomplete_item {
    border: 1px solid black;
    height: 30px;
    padding: 0;
    vertical-align: middle;
}

.autocomplete_item *{
    margin: 0;
}

.dropdownbutton {
    background-color: #34db7c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #29ac62;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content.show {display:block;}