@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

/* Root Variables */
:root {
    --background: #e6dbc5;
    --line: #6a982f;
}

/* Global Styles */
body, html {
    /* overflow-x: hidden; */
    background: var(--background);
}

* {
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/* Header */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img {
    height: 40vh;
    width: auto;
}

/* Table */
#table {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.row h3 {
    display: inline;
    color: #73A635;
}

.row h3::after {
    content: "\a";
    white-space: pre;
}

.row .rowdata {
    width: 100vw;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    border-top: 1px solid var(--line);
    border-bottom: 1px solid var(--line);
    height: 75px;
    vertical-align: baseline;
}

.row .rowdata * {
    display: inline-block;
    white-space: nowrap;
    float: none;
}

/* Price Element */
table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #fbf4b1;
    font-size: 1.5em;
}

.priceelement {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.priceelement {
    padding: 10px;
    width: 100%;
    margin: auto;
}

.priceelement.filters {
    width: 450px !important;
}

.priceelement label:not(.switch) {
    width: auto;
    border-bottom: 1px solid black;
}

.priceelement input {
    width: calc(90% - 190px);
}

td:has([data-producetype="fruit"]) {
    background-color: #ddd5df;
}

td:has([data-producetype="vegetable"]) {
    background-color: #d6e8c1;
}


/* Filter Button */
#filterbutton {
    border-radius: 4px;
    border: 2px solid #4b6b20;
    width: 200px;
    height: 30px;
    /* margin-left: 10px; */
    font-weight: bold;
    background: #d9d9d9;
}

#filterbutton:active {
    background: #f0f0f0;
}

/* Hidden Class */
.hidden {
    display: none !important;
}

/* Footer */
footer {
    position: static;
    bottom: 0;
    /* height: 120px; */
    /* background: #E1F4CB; */
    width: 100vw;
    left: 0;
    padding-left: 10px;
    border-top: 1px solid #4b6b20;
}

footer h3 {
    font-size: 15px;
}

/* Center Button */
#centerbutton {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* Autocomplete */
#autocomplete_menu {
    max-height: 120px;
    overflow-y: scroll;
}

.autocomplete_item {
    border: 1px solid black;
    height: 30px;
    padding: 0;
    vertical-align: middle;
    max-width: 90vw;
}

.autocomplete_item * {
    margin: 0;
}

/* Dropdown Button */
.dropdownbutton {
    background-color: #208f3e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #29ac62;
}

/* Sticky Dropdown */
#stickydropdown {
    background: var(--background);
    width: 60vw;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    /* display: none; */
    transition: height 100ms;
    transition-delay: 200ms;
    height: 0;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    opacity: 0;
    transition: opacity 0s;
    pointer-events: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content.show {
    /* display: block; */
    height: 127.2px;
    transition-delay: 0s;
}

.dropdown-content.show a {
    opacity: 1;
    transition: opacity 200ms;
    transition-delay: 0s !important;
    pointer-events: auto;
}

/* Search */
.search:not(#sort-row) {
    align-self: flex-start;
    position: sticky;
    top: 120px;
    background: var(--background);
    z-index: 1;
    border-bottom: 2px solid var(--line);
}

/* Produce Selector */
.produce_selector {
    display: none;
}

.produce_selector.show {
    display: block;
}

/* Select */
.select {
    width: 40vw;
    background: var(--background);
}

/* Produce Selection */
#produce_selection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    height: 120px;
    position: sticky;
    top: 0px;
    z-index: 3;
    background: var(--background);
    width: 100vw;
}

/* Toggle Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.sort .switch {
    height: 20px;
}

.sort .slider {
    width: 50px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8b8b8b;
    -webkit-transition: .4s;
    transition: .4s;
    width: 60px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.sort .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 1.75px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #126c2e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #126c2e;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#slider-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}